<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINK -->
    <link href="../styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- TITLE -->
    <title>Seattle's Home Mountain</title>
</head>
<body>
    <!-- HEADER SECTION -->
    <header class="header" >
        <a href="#" class="logo">
            <img src="../images/logo1.png" href="../index.html" class="active" alt="logo"> 
        </a>
        <nav class="navbar">
            <a href="../index.html">Home</a>
            <a href="about.html" class="active">About</a>
            <a href="tickets.html">Plan Your Visit</a>
            <a href="lessons.html">lessons</a>
            <a href="reviews.html">reviews</a>
            <a href="contact.html">contact</a>
        </nav>
        <div class="buttons">
            <button id="search-btn">
                <i class="fas fa-search"></i>
            </button>
            <button id="cart-btn">
                <i class="fas fa-shopping-cart"></i>
            </button>

            <button id="menu-btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="search-form">
            <input type="text" class="search-input" id="search-box" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
        <div class="cart-items-container">
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="./images/ski-chk.jpg" alt="menu">
                <div class="content">
                    <h3>ski lessons</h3>
                    <div class="price">$129.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="./images/tube-a-chk.jpg" alt="menu">
                <div class="content">
                    <h3>Tubing adult</h3>
                    <div class="price">$36.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="./images/tube-k-chk.jpg" alt="menu">
                <div class="content">
                    <h3>tubing kid</h3>
                    <div class="price">$13.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="./images/tube-k-chk.jpg" alt="menu">
                <div class="content">
                    <h3>tubing kid</h3>
                    <div class="price">$13.99 </div>
                </div>
            </div>
            
            <a href="#" class="btn">check out </a>
        </div>
    </header>
    <!---------------------------------------------HEADER SECTION -->
    <!-- -------------------------------------------ABOUT US SECTION -->
    <section class="about1" >
        <div class="hero">
            <video autoplay loop muted plays-inline class="back-video">
                
                <source src="https://www.camelbackresort.com/wp-content/uploads/2022/09/Tubing-for-web.mp4">
                
            </video>
            <div class="video-content">
                <h1>Nordic Snow Bird</h1>
                <a href="./tickets.html">Explore</a>
            </div>
            
        </div>
    </section>
    <section class="about" id="about">
        <h1 class="heading">about <span>us</span> </h1>

        <div class="row">
            <div class="content">
                <h3>The Resort Overview</h3>
                <div class="paragraph">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt massa vel nibh porta, ac rhoncus felis gravida. Proin aliquet porta felis in eleifend. Pellentesque a sem in magna sagittis pretium.  </p>
                    <p>Fusce consequat est sit amet orci maximus, et vulputate nibh faucibus. Ut nec consequat odio, ultricies lacinia lectus.</p>
                    <p>Fusce pulvinar augue eros, nec convallis lacus luctus ut. Pellentesque blandit sapien a magna consequat, eu elementum odio ultrices. Nullam turpis risus, efficitur cursus pharetra in, luctus ac dui. Vestibulum sit amet est augue. Nulla sollicitudin, sem vel laoreet ultrices, metus lorem iaculis ante, sit amet fringilla ante ipsum non turpis. Vivamus ac urna ultrices, rutrum tellus in, congue augue. Suspendisse potenti. Sed viverra odio vitae laoreet venenatis. Proin sollicitudin varius ligula eget egestas.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
    <div class ="wrapper">
        <div class="container">
            <i class="fa-solid fa-tree"></i>
            <span class="num" data-id="8464">0000</span>
            <span >SKIABLE ACRES</span>
        </div>
        <div class="container">
            <i class="fa-solid fa-person-snowboarding"></i>
            <span class="num" data-id="25">00</span>
            <span >LIFTS</span>
        </div>
        <div class="container">
            <i class="fa-solid fa-mountain"></i>
            <span class="num" data-id="9422">0000</span>
            <span >VERTICAL FEET</span>
        </div>
        <div class="container">
            <i class="fa-sharp fa-solid fa-leaf"></i>
            <span class="num" data-id="167">000</span>
            <span >SKI TRAILS</span>
        </div>
    </div>
    </section>
    <!---------------------------------------------ABOUT US SECTION -->
    <!---------------------------------------------FOOTER SECTION -->
    <section class="footer">
        <div class="share">
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>
        <div class="links">
            <a href="../index.html">home</a>
            <a href="#about">about</a>
            <a href="./tickets.html">Tickets</a>
            <a href="./lessons.html">lessons</a>
            <a href="./reviews.html">reviews</a>
            <a href="#contact">contact us</a>
        </div>
        <div class="credit">
            created by <span>Abhinaya Jayakumar</span> | all rights reserved  !
        </div>
    </section>
    <!---------------------------------------------FOOTER SECTION -->
<script src="../js/script.js"></script>
    </body>
    </html>