<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINK -->
    <link href="../styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- TITLE -->
    <title>Seattle's Home Mountain</title>
</head>
<body>
    <!-- HEADER SECTION -->
    <header class="header" >
        <a href="../index.html" class="logo">
            <img src="../images/logo1.png" href="../index.html" class="active" alt="logo"> 
        </a>
        <nav class="navbar">
            <a href="../index.html">Home</a>
            <a href="about.html" >About</a>
            <a href="tickets.html">Plan Your Visit</a>
            <a href="contact.html"class="active">contact</a>
        </nav>
        <div class="buttons">
            <button id="search-btn">
                <i class="fas fa-search"></i>
            </button>
            <button id="cart-btn">
                <i class="fas fa-shopping-cart"></i>
            </button>

            <button id="menu-btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="search-form">
            <input type="text" class="search-input" id="search-box" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
        <div class="cart-items-container">
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="../images/ski-chk.jpg" alt="menu">
                <div class="content">
                    <h3>ski lessons</h3>
                    <div class="price">$129.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="../images/tube-a-chk.jpg" alt="menu">
                <div class="content">
                    <h3>Tubing adult</h3>
                    <div class="price">$36.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="../images/tube-k-chk.jpg" alt="menu">
                <div class="content">
                    <h3>tubing kid</h3>
                    <div class="price">$13.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="../images/tube-k-chk.jpg" alt="menu">
                <div class="content">
                    <h3>tubing kid</h3>
                    <div class="price">$13.99 </div>
                </div>
            </div>
            
            <a href="#" class="btn">check out </a>
        </div>
    </header>
    <!---------------------------------------------HEADER SECTION -->
    <!---------------------------------------------VIDEO SECTION -->
    <section class="about1" >
        <div class="hero">
            <video autoplay loop muted plays-inline class="back-video">
                
                <source src="https://www.camelbackresort.com/wp-content/uploads/2022/11/homepage-video-low.mp4">
                
            </video>
            <div class="video-content">
                <h1>The Mountain is calling</h1>
                <a href="./tickets.html">Book Tickets Now</a>
            </div>
            
        </div>
    </section>
    <!---------------------------------------------VIDEO SECTION -->
    <!---------------------------------------------CONTACT SECTION -->
    <section class="form1" >
        <div class="login-box">
        <h2>GET IN TOUCH</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Full name</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="" style="text-transform: lowercase;">
            <label>Email Address</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Mobile Phone</label>
          </div>
          <div style="font-size: 1.1em; margin-bottom: 3%; color: #fff;">
            <label>How can we help you?</label><br>
            <input type="radio" id="rad-ticket" name="help" value="Ticketing">
      <label for="ad-ticket">Ticketing</label><br>
      <input type="radio" id="rad-refund" name="help" value="Refunds">
      <label for="rad-refund">Refunds</label><br>
      <input type="radio" id="rad-lesson" name="help" value="Lessons">
      <label for="rad-lesson">Lessons</label>
          </div>
          <div style="font-size: 1.1em; color: #fff;">
            <label>Best method to get back to you?</label><br>
            <input type="checkbox" id="chk-email" name="chk-email" value="Email">
      <label for="chk-email"> Email</label><br>
      <input type="checkbox" id="chk-text" name="chk-text" value="Text">
      <label for="chk-text"> Text</label><br>
          </div>
          <a href="#popup-sub">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
          
        </form>
        
        
    </section>
    <div id="popup-sub" class="overlay-1">
        <div class="popup-1">
            <h2>Thank you !</h2>
            <a class="close-1" href="#">&times;</a>
            <div class="content-1">
                Our team will reach out shortly!
            </div>
        </div>
    </div>
  </div>
    <!---------------------------------------------CONTACT SECTION -->
    <section>
        <span class="choose1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt massa vel nibh porta, ac rhoncus felis gravida. Proin aliquet porta felis in eleifend. Pellentesque a sem in magna sagittis pretium. Fusce pulvinar augue eros, nec convallis lacus luctus ut. Pellentesque blandit sapien a magna consequat, eu elementum odio ultrices. Nullam turpis risus, efficitur cursus pharetra in, luctus ac dui. Vestibulum sit amet est augue. Nulla sollicitudin, sem vel laoreet ultrices, metus lorem iaculis ante, sit amet fringilla ante ipsum non turpis. Vivamus ac urna ultrices, rutrum tellus in, congue augue. Suspendisse potenti. Sed viverra odio vitae laoreet venenatis. Proin sollicitudin varius ligula eget egestas. Fusce consequat est sit amet orci maximus, et vulputate nibh faucibus. Ut nec consequat odio, ultricies lacinia lectus.
<br>
Aliquam eu enim cursus, imperdiet metus nec, efficitur orci. Aenean efficitur nisl sagittis velit pharetra vehicula. Nunc egestas porta dui, quis dignissim nisi semper sit amet. Integer et malesuada erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ipsum ligula, fermentum et laoreet sit amet, ultrices nec tortor. Sed non ex eros. Nam suscipit neque odio, sit amet consequat lectus lobortis commodo. Nulla facilisi. Quisque eget nisi eu elit vulputate viverra at sed urna. Maecenas a facilisis dui, id ultricies ex. Vestibulum fringilla ornare tristique. Suspendisse nec nibh sit amet ante placerat pellentesque.
        </span>
    </section>
    <!---------------------------------------------FOOTER SECTION -->
    <section class="footer">
        <div class="share">
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>
        <div class="links">
            <a href="../index.html">home</a>
            <a href="./about.html">about</a>
            <a href="./tickets.html">Tickets</a>
            <a href="./contact.html">contact us</a>
        </div>
        <div class="credit">
            created by <span>Abhinaya Jayakumar</span> | all rights reserved  !
        </div>
    </section>
    <!---------------------------------------------FOOTER SECTION -->
<script src="../js/script.js"></script>
    </body>
    </html>