<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINK -->
    <link href="../styles/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- TITLE -->
    <title>Seattle's Home Mountain</title>
</head>
<body>
    <!-- HEADER SECTION -->
    <header class="header" >
        <a href="../index.html" class="logo">
            <img src="../images/logo1.png" href="../index.html" class="active" alt="logo"> 
        </a>
        <nav class="navbar">
            <a href="../index.html">Home</a>
            <a href="about.html" class="active">About</a>
            <a href="tickets.html">Plan Your Visit</a>
            <a href="contact.html">contact</a>
        </nav>
        <div class="buttons">
            <button id="search-btn">
                <i class="fas fa-search"></i>
            </button>
            <button id="cart-btn">
                <i class="fas fa-shopping-cart"></i>
            </button>

            <button id="menu-btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="search-form">
            <input type="text" class="search-input" id="search-box" placeholder="Search">
            <i class="fas fa-search"></i>
        </div>
        <div class="cart-items-container">
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="../images/ski-chk.jpg" alt="menu">
                <div class="content">
                    <h3>ski lessons</h3>
                    <div class="price">$129.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="../images/tube-a-chk.jpg" alt="menu">
                <div class="content">
                    <h3>Tubing adult</h3>
                    <div class="price">$36.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="../images/tube-k-chk.jpg" alt="menu">
                <div class="content">
                    <h3>tubing kid</h3>
                    <div class="price">$13.99 </div>
                </div>
            </div>
            <div class="cart-item">
                <i class="fas fa-times"></i>
                <img src="../images/tube-k-chk.jpg" alt="menu">
                <div class="content">
                    <h3>tubing kid</h3>
                    <div class="price">$13.99 </div>
                </div>
            </div>
            
            <a href="#" class="btn">check out </a>
        </div>
    </header>
    <!---------------------------------------------HEADER SECTION -->

    <!---------------------------------------------TICKETS SECTION -->
    <section>
        <!--Size dropdown menu-->
        <span class="choose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt massa vel nibh porta, ac rhoncus felis gravida. Proin aliquet porta felis in eleifend. Pellentesque a sem in magna sagittis pretium. Fusce pulvinar augue eros, nec convallis lacus luctus ut. Pellentesque blandit sapien a magna consequat, eu elementum odio ultrices.
        </span>
        <div class="container1">
            <span class="calendarmsg"></span>
        </div>
            <div class="container1">
                <span class="choose">Choose Date and Activity </span>
                <div class="calendar"></div>
                
              
            </div>
            
            <div class="container1">
                
              
                  <div class="dropdown">
                    <div class="select">
                      <span>Select Activity</span>
                      <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" name="activity">
                    <ul class="dropdown-menu">
                      <li id="Snow Tubing">Snow Tubing</li>
                      <li id="Nordic Skiing">Nordic Skiing</li>
                      <li id="Snow Shoeing">Snow Shoeing</li>
                      <li id="Sleigh Row">Sleigh</li>
                      <li id="Lift">Lift tickets</li>
                    </ul>
                  </div>
              
              <span class="msg"></span>
            </div>
            
        </section>
        
        <section>
            <div class="frame">
                <div class="center2 container2">
                    <div class="number col col-2">
                        <h1 >Adults</h1>
                    </div>
                    <div class="button col col-1">
                        <button id="minus-btn1">-</button>
                    </div>
                    <div class="number col col-2">
                        <h1 id="count1">0</h1>
                    </div>
                    <div class="button col col-1">
                        <button id="plus-btn1">+</button>
                  </div>

                  <div class="center3 container3">
                    <div class="number col col-2">
                        <h1 >Kids</h1>
                    </div>
                    <div class="button col col-1">
                        <button id="minus-btn2">-</button>
                    </div>
                    <div class="number col col-2">
                        <h1 id="count2">0</h1>
                    </div>
                    <div class="button col col-1">
                        <button id="plus-btn2">+</button>
                  </div>

                  
                </div>
            </div>
            
        </section>
        
        <section>
            <div class="box-bottom">
                <a href="#popup1" class="btn1">add to cart</a>
            </div>
            <div id="popup1" class="overlay1">
                <div class="popup">
                    <h2>Thank you</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="content">
                        Please proceed to checkout !
                    </div>
                </div>
            </div>
        </section>
        <section>
            <span class="choose">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt massa vel nibh porta, ac rhoncus felis gravida. Proin aliquet porta felis in eleifend. Pellentesque a sem in magna sagittis pretium. Fusce pulvinar augue eros, nec convallis lacus luctus ut. Pellentesque blandit sapien a magna consequat, eu elementum odio ultrices. Nullam turpis risus, efficitur cursus pharetra in, luctus ac dui. Vestibulum sit amet est augue. Nulla sollicitudin, sem vel laoreet ultrices, metus lorem iaculis ante, sit amet fringilla ante ipsum non turpis. Vivamus ac urna ultrices, rutrum tellus in, congue augue. Suspendisse potenti. Sed viverra odio vitae laoreet venenatis. Proin sollicitudin varius ligula eget egestas. Fusce consequat est sit amet orci maximus, et vulputate nibh faucibus. Ut nec consequat odio, ultricies lacinia lectus.
<br>
Aliquam eu enim cursus, imperdiet metus nec, efficitur orci. Aenean efficitur nisl sagittis velit pharetra vehicula. Nunc egestas porta dui, quis dignissim nisi semper sit amet. Integer et malesuada erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce ipsum ligula, fermentum et laoreet sit amet, ultrices nec tortor. Sed non ex eros. Nam suscipit neque odio, sit amet consequat lectus lobortis commodo. Nulla facilisi. Quisque eget nisi eu elit vulputate viverra at sed urna. Maecenas a facilisis dui, id ultricies ex. Vestibulum fringilla ornare tristique. Suspendisse nec nibh sit amet ante placerat pellentesque.
            </span>
        </section>
        
    
        <!---------------------------------------------TICKETS SECTION -->
    <!---------------------------------------------FOOTER SECTION -->
    <section class="footer">
        <div class="share">
            <a href="#" class="fab fa-facebook"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>
        <div class="links">
            <a href="../index.html">home</a>
            <a href="#about">about</a>
            <a href="./tickets.html">Tickets</a>
            <a href="#contact">contact us</a>
        </div>
        <div class="credit">
            created by <span>Abhinaya Jayakumar</span> | all rights reserved  !
        </div>
    </section>
    <!---------------------------------------------FOOTER SECTION -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="../js/dropscript.js"></script>
<script src="../js/script.js"></script>
    </body>
    </html>